#optional-info {
    font-size: 10px;
    text-align: center;
    display: block;
    margin-bottom: 16px;
}

.add-task-date > .DayPickerInput {
    width: 100%;
}

.tag-checkboxes {
    text-align: center;
}

.tag-checkbox > .form-check-label > span {
    vertical-align: middle;
    font-size: 12px;
}

.tag-checkbox > .form-check-label > .dot {
    height: 12px;
    width: 12px;
    margin-right: 0;
}

.tag-checkbox.form-check {
    display: inline;
}

ul.tag-checkboxes {
    list-style: none;
    padding: 20px;
}
ul.tag-checkboxes li{
  display: inline;
}
ul.tag-checkboxes li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 12px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.tag-checkboxes li label {
    padding: 1px 7px 4px;
    cursor: pointer;
}

ul.tag-checkboxes li input[type="checkbox"]:checked + label {
    background-color: #383838;
    color: #fff;
    transition: all .2s;
}

ul.tag-checkboxes li input[type="checkbox"] {
  display: absolute;
}
ul.tag-checkboxes li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}