.notes-nav {
    list-style: none;
    margin-top: 10px;
}

.notes-nav li {
    float: left;
    margin: 4px;
    padding: 4px;
    -webkit-transition: color 700ms;
    transition: color 700ms;
}

.notes-nav li:hover {
    cursor: pointer;
    color: #DF021E;
}

.notes-card {
    cursor: pointer;
}

.active-tag {
    color: #DF021E;
}

#badge-important {
    background-color: #dd2a41;
}

#badge-personal {
    background-color: #a7ff71;
    color: #686868;
}

#badge-work {
    background-color: #fff171;
    color: #686868;
}

#badge-other {
    background-color: #a3a3a3;
}