@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Open+Sans');
@import "~toasted-notes/src/styles.css";

html, body {
    height: 100%;
}


#app {
    display: flex;
    height: 100%;
}

#wrapper {
    flex: 1;
}

body {
    background-color: #FBFBFB;
}

span, p, li {
    font-family: 'Open Sans', sans-serif;
}

.page-header {
    position: relative;
    display: inline-block;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-left: 20px;
}

.page-header:before {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    width: 100%;
    left: 0%;
    background-color: #df021e;
}

.Toaster__manager-top-right {
    top: 60px !important;
}