#user-dropdown-div {
    display: inline-block;
}

.navbar {
    height: 4.5rem !important;
}

#user-dropdown-text {
    margin-right: 5px;
}

#menu {
    display: block;
}

@media (min-width: 768px) {
    #menu {
        display: none;
    }
}
