.subheading {
    font-size: 30px;
    font-weight: 400;
    color: grey;
    margin-bottom: 40px;
}

.checkbox-td {
    width: 8%;
    height: 42px;
}

.description-td {
    width: 57%;
}

.time-td {
    width: 20%;
    text-align: right;
    color: #989898;
    font-size: 14px;
}

.tag-td {
    width: 15%;
    text-align: right;
}


