#dash-sidebar {
    background-color: #F1F1F1;
    margin-top: -4px;
}

.card-title{
    color: #707070 !important;
}

.dash-task-container {
    width: 80%;
    flex: 1;
}

.task-card-body {
    flex: 1;
}

.dash-task-container .tag-td {
    display: none;
}

.dash-task-container .time-td {
    width: 35%;
}
